@model IEnumerable<SwimElite.Models.Person>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="col-md-6">
    @using (Html.BeginForm("Search", "People", FormMethod.Get))
    {
        <table>
            <tr>
                <td>@Html.TextBox("search", null, new { style = " Width:900px; ", required = "required" })</td>
                <td colspan="2"><input type="submit" value="Search"></td>
            </tr>
        </table>
    }
</div>

<table class="table  table-bordered table-striped table-hover">

    @if (Model.Count() > 0)
    {
        <tr>
            <td colspan="4">
                Name matching your search: "@Request.QueryString["search"]"
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>