@model Peak_Performance.Models.ExerciseRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExerciseRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exercis.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercis.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplexReps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplexReps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplexSets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplexSets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunDistance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseRecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
