@model Peak_Performance.Models.ViewModels.FullWorkoutViewModel

@{
    ViewBag.Title = "WorkoutCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Workout for @Html.DisplayFor(model => model.workout.Team.TeamName) on @Html.DisplayFor(model => model.workout.WorkoutDate.Date) Created Successfully</h2>
<button class="btn btn-primary" id="contact" onclick="contactTeam(@Html.ValueFor(model => model.workout.TeamID))" style="padding: 5px; margin: 5px;">Notify Team</button>

<div>
    <h4>Workout Details</h4>
    <div class="row" id="workout" style="font-size:150%; background-color: lightgrey; border: 5px solid black; padding: 5px; margin: 5px; width: 930px;">
        @foreach (Peak_Performance.Models.Complex comp in Model.complexes)
        {
        <div class="row" style="background-color: white; border: 5px solid black; padding: 5px; margin: 5px; width: 900px;">
            <div class="complex">
                Complex
                <table id="exercises" style="background-color: white; padding: 5px; margin: 5px;">
                    <tr>
                        <th style="width: 200px; padding: 5px; margin: 5px">Exercise</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Reps</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Sets</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Weight</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Time</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Speed</th>
                        <th style="width: 100px; padding: 5px; margin: 5px">Distance</th>
                    </tr>
                    @foreach (Peak_Performance.Models.ComplexItem item in Model.exercises[comp.ID])
                    {
                        <tr>
                            <td>@(String.IsNullOrEmpty(item.ExerciseName) ? @item.Exercis.Name : @item.ExerciseName)</td>
                            <td>@item.ComplexReps</td>
                            <td>@item.ComplexSets</td>
                            <td>@item.LiftWeight</td>
                            <td>@item.RunTime</td>
                            <td>@item.RunSpeed</td>
                            <td>@item.RunDistance</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        }
    </div>
</div>



    @section scripts
{
        <script src="~/Scripts/main.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    }
